.banner {
  background-image:
    /* Transparent gradient above */
    linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 50%),
    /* Then image below */
    url('../../images/waiting-lounge-banner.jpg');
	background-size: cover;
  /* 3. Center the image */
	background-position: center;
  color: #EEEDDE;
  padding: 150px 0px;
}
.banner h1 {
  color: #EEEDDE;
  font-weight: 700;
  font-size: 50px;
}
.banner h2 {
  color: #EEEDDE;
  font-size: 30px;
  font-weight: 300;
	opacity: 0.8;
  margin-bottom: 40px;
}
